
#task {
  background: rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

#create {
  font-size: 30px;
  color: red;
  margin: 0px 10px;

}

#show {
  color: white;
  padding: 0px 10px;
  margin: 0px 10px;
}

#delete {
  color: white;
  padding: 0px 10px;
  margin: 0px 10px;
}

#edit {
  color: white;
  padding: 0px 10px;
  margin: 0px 10px;
}

.description {
  background: #CCC555;
  padding: 30px;
  border-radius: 10px;
}
